body, html, .page, .page-box {
  padding: 0;
  margin: 0;
  width: 100%;
}

.owo-animation {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.owo-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owo-animation-forward {
  z-index: 99;
}

img {
  border: none;
}

[route-active="false"] {
  display: none;
}

/* 清除浮动 */
.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.loading-page text {
  text-anchor: middle;
  font-size: 60px;
  opacity: 0;
}

@keyframes breath-481ac855-6e85-45a5-8371-62ce4041f8c9 {
  0% {
    animation-timing-function: cubic-bezier(0.9647,0.2413,-0.0705,0.7911);
    transform: scale(0.9099999999999999);
  }

  51% {
    animation-timing-function: cubic-bezier(0.9226,0.2631,-0.0308,0.7628);
    transform: scale(1.02994);
  }

  100% {
    transform: scale(0.9099999999999999);
  }
}

.loading-page svg {
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}/* Radial Out */
[o-hover="radial-out"] {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  transition-property: color;
  transition-duration: 0.3s;
}
[o-hover="radial-out"]:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
[o-hover="radial-out"]:hover, [o-hover="radial-out"]:focus, [o-hover="radial-out"]:active {
  color: white;
}
[o-hover="radial-out:hover"]:before, [o-hover="radial-out:focus"]:before, [o-hover="radial-out:active"]:before {
  transform: scale(2);
}

.login {
  width: 100%;
  height: 100%;
  background-color: white;
}

.login .login-title-bar {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
}

.login .login-title-bar .back {
  width: 12px;
  margin: 13px;
  display: block;
}

.login .login-title-bar .register {
  font-size: 20px;
  line-height: 45px;
  padding-right: 10px;
}

.login .login-title-bar .active {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.login .button-box {
  margin-top: 35px;
}

.login .image-box img {
  height: 160px;
  display: block;
  margin: 20px auto;
}

.login .hellow-text {
  color: #5fccff;
  font-size: 22px;
  width: 100%;
  text-align: center;
  line-height: 40px;
}

.login .button {
  background-color: #5fccff;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 84%;
  margin: 0 auto;
  border-radius: 25px;
  display: block;
  margin-top: 15px;
}

.login input {
  border: none;
  display: block;
  width: 83%;
  font-size: 18px;
  border-radius: 25px;
  outline: none;
}

.login .view-login input {
  border: none;
  background-color: transparent;
  height: 100%;
  padding-left: 17%;
  display: block;
  width: 83%;
  font-size: 18px;
  border-radius: 25px;
  outline: none;
}

.login .view-login input:active {
  box-shadow: 1px 1px 5px #ccc;
}

.login .view-login .input-bar {
  background-color: #f7f8fa;
  height: 50px;
  border-radius: 25px;
  width: 84%;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.login .view-login .input-bar .bar-icon {
  width: 20px;
  position: absolute;
  left: 20px;
  top: 0px;
  bottom: 0;
  margin: auto;
}

.login .tool-bar {
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  width: 84%;
  margin: 0 auto;
  color: #262626;
  font-size: 14px;
}

.login .router {
  height: calc(100% - 45px);
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.login .router [route] {
  width: 100%;
  height: 100%;
}

.login .view-register {
  width: 100%;
  height: 100%;
}

.login .view-register .bg-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 47vw;
}

.login .view-register p {
  line-height: 40px;
  font-size: 23px;
  padding-top: 60px;
  z-index: 99;
  background-image: url(//cunchu.site/puge/login/Signup.png);
  background-size: 91vw;
  background-repeat: no-repeat;
  background-position-y: 15px;
  padding-left: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.login .view-register .register-input {
  height: 50px;
  background-color: #f7f7fb;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 5%;
  width: 74%;
}

.login .view-register .button {
  background-color: #fa4169;
}

.login .mini-box {
  width: 84%;
  margin: 0 auto;
}

.login .mini-box .button {
  background-color: #009fe9;
  float: right;
  width: 24%;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-top: 23px;
}

.login .mini-box .register-input {
  float: left;
  width: 60%;
  display: block;
}